{%  extends 'base.html.twig' %}

{% block title %}List of Recipes{% endblock %}

{% block body %}

    {% if recipes %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>More Details</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.title }}</td>
                    <td> {{ recipe.author }} </td>
                    <td>
                        <a href = "{{ url('recipe_show', {id: recipe.id}) }}" class="btn btn-dark">Show</a>
                    </td>
                    <td>
                        <a href = "{{ url('recipe_edit', {id: recipe.id}) }}" class="btn btn-light">Edit</a>
                        <a href = "{{ url('delete_recipe', {id: recipe.id}) }}" class="btn btn-danger delete-recipe">Delete</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Recipes to Display</p>
    {% endif %}
{% endblock %}
