{%  extends 'base.html.twig' %}

{% block body %}

    <h1>Recipe LIST page</h1>

    <ul>
        {%  for recipe in recipes  %}
            <li>
                id = {{ recipe.id }}
                <br>
                image = {{ recipe.image }}
                <br>
                title = {{ recipe.title }}
                <br>
                listOfIngredients = {{ recipe.listOfIngredients }}
                <br>
                sequenceOfSteps = {{ recipe.sequenceOfSteps }}
                <a href = "{{ url('recipe_show', {id: recipe.id}) }}">(details)</a>
            </li>
        {% endfor %}
    </ul>

    <hr>
    <a href="{{ path('recipe_new_form') }}">
        Create New Recipe
    </a>
{% endblock %}