{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}

    <h1>{{ recipe.title }}</h1>
    <br>
    <img src="{{ asset('uploads/images/' ~ recipe.image) }}"/>
    <br>
    <br>
    <strong>Summary:</strong> {{ recipe.summary }}
    <br><br>
    <strong>Tags:</strong> {{ recipe.tags }}
    <br><br>
    <strong>Ingredients:</strong> {{ recipe.listOfIngredients }}
    <br><br>
    <strong>Steps:</strong> {{ recipe.sequenceOfSteps }}
    <br>
    <br>
    <a href="{{ path('recipe_edit', {'id': recipe.id}) }}">Edit</a>
    <br>
    <a href="{{ path('recipe_list') }}">Back to Recipes List</a>



{% endblock %}