{%  extends 'base.html.twig' %}

{%  block pageTitle %} Create a New User {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.roles) }}

    <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}
